<div class="navbar bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand">Halliburton</a>
  </div>
</div>
<div class="container-lg mt-5 pt-3 h-100">
  <div class="row">
      <div class="col-6 h-100 p-2">
        <div class="border">
          <div class="d-flex justify-content-center m-2">
            <button class="btn btn-primary w-50" (click)="getClientStatus()">GET</button>
          </div>
          <div class="border m-2 p-2" style="height: 350px;">
            <label *ngFor="let item of mqttStatus">Server Status: <b>{{item.status | titlecase }}</b> and Topic Subscribed for: <b>{{item.topic}}</b></label>           
          </div>
        </div>
      </div>
      <div class="col-6 h-100 p-2">
        <div class="border">
          <div class="row">
            <div class="col-12">
              <div class="m-2 d-flex align-items-center">
                <label>Operation Mode</label>
                <input type="text" class="form-control w-50" placeholder="Eg: Start | Stop" [(ngModel)]="mode"/>
              </div>          
            </div>
            <div class="col-12 d-flex justify-content-center">
              <button class="btn btn-primary w-50" (click)="postOperation()">POST</button>
            </div>           
          </div>
          <div class="border m-2 p-2" style="height: 305px;">
            <div *ngFor="let item of operationStatus"><label>{{item.status}}</label></div>
          </div>
        </div>
      </div>
  </div>
</div>
